<div id="description-container" style="width:100%; white-space:nowrap; text-align:center;">
  <div id="read-time" style="float:left; font-style:italic; font-size:15px;">
    {{ page.date | date: '%b %d, %Y' }} &nbsp; · &nbsp; {% include read-time.html %}
  </div>

  <div id="share-on" style="float:right;">
    <a href="https://buymeacoffee.com/alteral" title="Buy me a cup of tea (:"><i class="fas fa-fw fa-mug-hot" aria-hidden="true"></i></a>
  </div>
</div>

<br/>

<div id="image-container" style="width:100%; text-align:center;">
  <img src="{{ page.preview }}" alt="Preview" style="float:middle;" />

  <div style="line-height:50%;"> <br> </div>
</div>
